#reaction_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 580px;
	min-width: 500px;
  background-color: #000000;  
  padding: 1px;
  font-size: 20pt;
}

#reaction_wrapper p {
  font-size: 20pt;
  line-height: 24pt;
}	
	
#instructions_link {
	position: absolute;
	top: 10px;
	left: 20px;
	color: #0064AE;
	text-decoration:underline; 
	cursor: pointer;
	font-size: 80%;
}

#round_display {
  position: absolute;
  top: 40px;
  left: 20px;
  color: #FFFFFF;
  
}

.lottaText {
	width: 80%;
	margin: 60px auto;
	color: #000000;
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 15px;
	position: relative;
}

#score_screen {
	text-align: center;
  margin: 90px auto;
}

#score_screen p {
  font-size: 80%;

}

#score_screen span {
	color: #0064AE;
}

.lottaTextButton {
  background-color: #FFFFFF;
  border-radius: 5px;
  bottom: -70px;
  cursor: pointer;
  left: calc(50% - 70px);
  margin: auto;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 140px;
}

#done_button {
	width: 400px;
	left: calc(50% - 200px);
}

#popup_instructions {
  z-index:100;
	position: absolute;
	top: 55px;
	left: 135px;
	width: 300px;
	padding: 20px;
	
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;

  border: 3px solid #000000;
  border-radius: 15px;
}

#question {
  color: #FFFFFF;
  font-size: 38pt;
  margin: auto;
  position: relative;
  text-align: center;
  top: 200px;
  width: 400px;
  font-weight:bold;
}

#answer {
	display: none;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  height: 30px;
  left: calc(50% - 100px);
  margin: auto;
  position: relative;
  top: 250px;
  width: 200px;
}

.beginRoundHide {
	display: none;
	position: absolute;
	top: 100px;
	color: #FFFFFF;
  width: 100%;
  text-align: center;
  font-size: 34pt;
  width: 100%;
}

#try_again {
	background-color: #FFFFFF;
	border: 3px solid #000000;
	color: #000000;
	font-size: 80%;
	margin: auto;
	padding: 5px;
	top: 140px;
	width: 148px;
	left: calc(50% - 78px);
}

#hint {
	display: none;
  color: #FFFFFF;
  height: 95px;
  left: calc(50% + 120px);
  position: relative;
  top: 182px;
  width: 175px;
}

#hint span {
	display:table-cell;
}

.larrow {
  font-size: 48px;
	width: 55px;
  font-weight: bold;
  padding-top: 15px;
}

#hint_txt {
  height: 95px;
	font-size: 18px;
	vertical-align: middle;
}



